// $bodyColor: rgb(136, 70, 70);
// $board-color: #4a6ecf;
// $border-color: rgb(15, 224, 15);
// $box-color: rgb(94, 40, 40);
// $hover-color: #e91212;
:root {
    --bodyColor: rgb(136, 70, 70);
    --boardColor: #4a6ecf;
    --borderColor: rgb(15, 224, 15);
    --boxColor: rgb(94, 40, 40);
    --hoverColor: #e91212;
    --fontColor: black;
}
